.hideMobile {
	display: none;
}

.mobileOnly {
	display: inherit;
}

.mainSubtitle {
	display: none;
}

.listItemLink > small {
	display: none;
}

.heroDetailsSubtitle {
	margin-left:2em;
}

.voteTotal {
	display: block;
	font-size: 300%;
}

.topBanner {
	height: 200px;
}

.bannerMenuSection {
	height: 100px;
}

.bannerTitleSection {
	height: 100px;
}

.navPanel {
	display: block;
}

.navPanel  > ul > li > a {
	font-size: 100%;
}

.share-buttons img {
	width: 32px;
	height: 32px;
}
