.hideMobile {
	display: none;
}

.mobileOnly {
	display: inherit;
}

.mainSubtitle {
	display: none;
}

.listItem {
}

.listItemLink {
}

.listItemLink > small {
	display: none;
}

.smallerPortrait {
}

.backToHeroes {
}

.heroDetailsTitle {
}

.heroDetailsSubtitle {
	margin-left:2em;
}

.heroPortraitBig {
}

.tipListHeader {
}

.voteTotal {
	display: block;
	font-size: 300%;
}

.goodTip {
}

.tipDetails {
}

.possibleTroll {
}

textarea.form-control {
}

.topBanner {
	height: 200px;
}

.bannerMenuSection {
	height: 100px;
}

.bannerTitleSection {
	height: 100px;
}

.navPanel {
	display: block;
}

.navPanel  > ul > li > a {
	font-size: 100%;
}
