/* Post modifiers */
.possibleTroll {
	color: #bbb;
	font-size: 70%;
}

.goodPost {
	font-size: 125%;
}

/* Image modifiers */
.smallerPortrait {
	width: 48px;
	height: 48px;
	border:1px solid #;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.mapImageBig {
	border:1px solid #;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.heroPortraitBig {
	width: 85px;
	height: 85px;
	border:1px solid #;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

/* Text modifiers */
.mainTitle {
	margin-top: 0.5em;
	font-size: 300%;
	font-family: "Exo 2", Helvetica Arial, Sans-serif;
	font-weight: bold;
}

.mainSubtitle {
	font-size:175%;
	font-family: Roboto, Helvetica, Arial, Sans-serif;
	font-weight: bold;
	color: #888;
	/*font-style: italic;*/
	margin-left:3em;
	margin-top:-0.5em;
	margin-bottom:0.5em;
}

.heroNameColor {
	color: #446
}

.freeWeek {
	color: #740;
	font-weight: bold;
	font-family: Lato, Helvetica, Arial, Sans-serif;
}

.heroDetailsTitle {
	font-size: 200%;
	font-weight: bold;
	font-family: Lato, Helvetica, Arial, Sans-serif;
}

.heroDetailsSubtitle {
	font-size: 125%;
	font-family: Lato, Helvetica, Arial, Sans-serif;
	color:#777;
	margin-left:4em;
}

.listItemLink {
	font-family: Lato, Helvetica, Arial, Sans-serif;
	font-weight: bold;
	color: #446;
}

.tipListHeader {
	font-size: 150%;
	font-weight: bold;
}

.tipListCounterHeader {
	color: #A88;
}

.tipListPlayWithHeader {
	color: #8A8;
}

.tipListPlayAsHeader {
	color: #AA7;
}

/* DIV modifiers */
.heroDetailsTitlePanel {
	margin-top:2em;
	margin-bottom:2em;
}

.gradientBanner {
	background: -webkit-linear-gradient(left, #eee, #fff);
	background: -o-linear-gradient(right, #eee, #fff);
	background: -moz-linear-gradient(right, #eee, #fff);
	background: linear-gradient(to right #eee, #fff);
}

/* NAV */
.navPanel {
	display: inline-block;
	/* background-color: #ddd; */
	border:1px solid #;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 1em;
	font-family: Roboto, Helvetica, Arial, sans-sarif;
}

.navPanel > ul {
	padding: 0px;
	margin: 0.5em;
}

.navPanel > ul > li {
	display: inline-block;
	background-color: #333;
	border:0px solid #999;
	-webkit border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
}

	.navPanel > ul > li.selected {
		background-color:#6b6;
	}

	.navPanel > ul > li:hover {
		background-color: #eee;
	}
		.navPanel > ul > li.selected:hover {
			background-color:#6F6;
		}

	.navPanel > ul > li > a {
		display: block;
		padding: 0.5em;
		color: #fff;
		font-size:125%;
		text-decoration: none;
	}

		.navPanel > ul > li.selected > a {
			color: #113;
			font-weight:bold;
		}

		.navPanel > ul > li > a:hover {
			color: #337;
		}
