.possibleTroll {
	color: #bbb;
	font-size: 70%;
}

.smallerPortrait {
	width: 48px;
	height: 48px;
	border:1px solid #;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.mapImageBig {
	border:1px solid #;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
