<div>
	<h2>What is this?</h2>
	<blockquote>
		This is a site made by Evertras, an avid Heroes of the Storm fan!  This site is intended to help
		share tips and ideas in dealing with various heroes in the game quickly and anonymously with as little fuss as possible.
	</blockquote>

	<h2>How do I use it?</h2>
	<blockquote>
		Click a hero.  Add a tip.  Upvote good advice.  Downvote bad advice.  That's about it!  There's
		intentionally no login feature.  You can upvote or downvote a single tip only once.
	</blockquote>

	<h2>Hey, it would be awesome if it did X!</h2>
	<blockquote>
		Probably!  Give me a shout at <a href="mailto:bfullj@gmail.com">bfullj@gmail.com</a> or check out the
		current <a href="http://www.reddit.com/r/heroesofthestorm/comments/30ryux/hots_counters_a_site_to_share_tips_for_and/">Reddit thread</a>.  You can also
		help give input at <a href="http://www.teamliquid.net/forum/heroes/481359-heroes-of-the-storm-counters-prototype-site">Team Liquid</a>!  All constructive
		criticism is very welcome.
	</blockquote>

	<h2>Special Thanks</h2>
	<blockquote>
		Thanks a bunch to Ben from <a href="https://www.hotslogs.com/Default">HOTS Logs</a> for giving me permission to steal his portrait icons!
	</blockquote>
</div>
