<div class="container">
	<h2>What is this?</h2>
	<blockquote>
		This is a site made by Evertras, an avid <a href="http://us.battle.net/heroes/en/">Heroes of the Storm</a> fan!  This site is intended to help
		share tips and ideas in dealing with various heroes in the game quickly and anonymously with as little fuss as possible.
	</blockquote>

	<h2>How do I use it?</h2>
	<blockquote>
		Click a hero.  Add a tip.  Upvote good advice.  Downvote bad advice.  That's about it!  There's
		intentionally no login feature.  You can upvote or downvote a single tip only once.  If you want to
		see any new tips that have been added, check out the Newest Tips link at the top of the Heroes or Maps listings.
	</blockquote>

	<h2>What happens after a big patch?</h2>
	<blockquote>
		Votes are stored along with what patch they were given under.  Once a new big patch comes out I'll be adding filters
		so you can see optionally filter out old patches.  Open to suggestions on how exactly to handle this, check the links below
		for feedback channels.
	</blockquote>

	<h2>Hey, it would be awesome if it did X!</h2>
	<blockquote>
		Probably!  Give me a shout at <a href="mailto:bfullj@gmail.com">bfullj@gmail.com</a> or check out the
		current <a href="http://www.reddit.com/r/heroesofthestorm/comments/31ropd/hotscounters_almost_550_tips_and_over_5500_votes/" target="_blank">Reddit thread</a>.  You can also
		help give input at <a href="http://www.teamliquid.net/forum/heroes/481359-heroes-of-the-storm-counters-prototype-site" target="_blank">Team Liquid</a>!  All constructive
		criticism is very welcome.
	</blockquote>

	<h2>How can I help?</h2>
	<blockquote>
		Vote!  The whole system relies on people giving their input, so it's hardly going to be useful if we all don't chip in.  Vote on stuff you know is good or bad advice,
		add your own, and everyone benefits.  Besides using the above channels to offer valuable feedback, the next best thing you can do to help is to spread the word!  The more people that use
		this site, the more awesome advice we can all give each other.  Again, the more we all chip in, the better a resource this becomes!
	</blockquote>

	<h2>Where'd you get the images?</h2>
	<blockquote>
		The portraits for heroes were taken from <a href="https://www.hotslogs.com/Default" target="_blank">HOTS Logs</a>.  The map graphics were taken from <a href="http://us.battle.net/heroes/en/battlegrounds/" target="_blank">Battle.net</a>.
	</blockquote>

	<h2>Special Thanks</h2>
	<blockquote>
			Thanks a bunch to Ben from <a href="https://www.hotslogs.com/Default" target="_blank">HOTS Logs</a> for giving me permission to steal his portrait icons!  And thanks to the admin at <a href="http://www.heroescounters.com" target="_blank">Heroes Counters</a> for CSS/layout advice!
	</blockquote>
</div>
