<div class="container">
	<div class="media">
		<div class="media-left media-middle">
			<img class="media-object" src="{{hero.imgUrl}}">
		</div>
		<div class="media-body">
			<h2 class="media-heading">{{hero.name}}</h2>
			<h3><small><em>the {{hero.subtitle}}</em></small></h3>
		</div>
	</div>

	<div class="col-md-4">
		<h4>Countering {{hero.name}}</h4>
		<hc-tip-list tips="counters" type="Counter" />
	</div>

	<div class="col-md-4">
		<h4>Playing with {{hero.name}} on your team</h4>
		<hc-tip-list tips="counters" type="Helper" />
	</div>

	<div class="col-md-4">
		<h4>Playing as {{hero.name}}</h4>
		<hc-tip-list tips="counters" type="As" />
	</div>
</div>
