<div class="container">
	<div class="backToHeroes">
		<a href="#/">&lt; Back to heroes</a>
	</div>
	<div class="row heroDetailsTitlePanel">
		<div class="col-md-1 col-xs-6">
			<img class="heroPortraitBig" src="{{hero.imgUrl}}">
		</div>
		<div class="col-md-4 col-xs-6">
			<div class="heroDetailsTitle heroNameColor">{{hero.name}}</div>
			<div class="heroDetailsSubtitle">the {{hero.subtitle}}</div>
		</div>
		<div class="col-md-3 col-md-offset-4 hideMobile">
				<a class="counterPickLink" href="http://www.heroescounters.com/hero/{{hero.urlName}}">Check out their page on www.heroescounters.com for counterpicks!</a>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<div class="tipListHeader tipListCounterHeader">Countering <span class="heroNameColor">{{hero.name}}</span></div>
			<hc-tip-list tips="counters" type="Counter" />
		</div>

		<div class="col-md-4">
			<div class="tipListHeader tipListPlayWithHeader">Playing with <span class="heroNameColor">{{hero.name}}</span> on your team</div>
			<hc-tip-list tips="counters" type="Helper" />
		</div>

		<div class="col-md-4">
			<div class="tipListHeader tipListPlayAsHeader">Playing as <span class="heroNameColor">{{hero.name}}</span></div>
			<hc-tip-list tips="counters" type="As" />
		</div>
	</div>
</div>
