<div class="container">
	<div class="col-md-4" ng-repeat="heroChunk in allHeroChunks">
		<table class="table">
			<tr ng-repeat="hero in heroChunk">
				<td>
					<div class="media">
						<div class="media-left">
							<a href="#/hero/{{hero.urlName}}"><img class="media-object smallerPortrait" src="{{hero.imgUrl}}"></a>
						</div>
						<div class="media-body">
							<h4><a href="#/hero/{{hero.urlName}}">{{hero.name}}</a> <small>the {{hero.subtitle}}</small></h4>
							<div class ="freeWeek" ng-show="{{hero.isFreeWeek}}">Free week!</div>
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>
