<div class="container">
	<div class="col-md-12">
		<div class="tipListHeader text-center"><a href="/#/newest">See Newest Tips Here</a></div>
	</div>
	<div class="col-md-4" ng-repeat="mapChunk in allMapChunks">
		<div ng-repeat="map in mapChunk" class="listItem gradientBanner">
			<div class="media">
				<div class="media-left">
					<a href="#/map/{{map.urlName}}"><img class="media-object smallerPortrait" src="{{map.imgUrl}}" alt="{{map.name}}"></a>
				</div>
				<div class="media-body">
					<h4><a href="#/map/{{map.urlName}}">{{map.name}}</a></h4>
				</div>
			</div>
		</div>
	</div>
</div>
