<table class="table">
	<!--<tr ng-repeat="tip in tips | filter: { type: type } | orderBy:sortFunc:true" ng-show="voteTotal(tip) > -10">-->
	<tr ng-repeat="tip in tips | filter: { type: type } | orderBy:sortFunc:true" ng-show="voteTotal(tip) > -10">
		<td class="text-center voteTD">
			<div class="voteTotal">{{ tip | totalNetVotes }}</div>
			<div class="btn-group-vertical hideMobile">
				<button class="btn btn-sm" ng-class="upvoteClass(tip)" ng-click="upvote(tip)"><span class="glyphicon glyphicon-chevron-up"></span></button>
				<button class="btn btn-sm" ng-class="downvoteClass(tip)" ng-click="downvote(tip)"><span class="glyphicon glyphicon-chevron-down"></span></button>
			</div>
			<div class="btn-group-vertical mobileOnly">
				<button class="btn btn-lg" ng-class="upvoteClass(tip)" ng-click="upvote(tip)"><span class="glyphicon glyphicon-chevron-up"></span></button>
				<button class="btn btn-lg" ng-class="downvoteClass(tip)" ng-click="downvote(tip)"><span class="glyphicon glyphicon-chevron-down"></span></button>
			</div>
			<div class="voteStats">
				<div>+{{ tip | totalUpvotes }} / -{{ tip | totalDownvotes }}</div>
				<div>({{ tip | percentUpvotes }})</div>
			</div>
		</td>
		<td class="tipDetails" ng-class="{'possibleTroll': voteTotal(tip) < 0, 'goodPost': voteTotal(tip) > 9}">
			<div>
				<a href='{{ getPortraitUrl(tip) }}'><img ng-show="showPortrait" ng-src="{{ getPortraitSrc(tip) }}" class="insetPortrait" alt="{{tip.heroID}}" title="{{ getPortraitTitle(tip) }}"></a>
				{{ getTipDetails(tip) }}
			</div>
			<div class="commentBar" ng-click="tip.showComments = !tip.showComments"><span class="glyphicon glyphicon-comment"></span> {{ tip.comments.length }} comments</div>
			<div ng-show="tip.showComments">
				<div class="commentText" ng-repeat="comment in tip.comments">{{comment.text}}</div>
				<div class="commentAdd">
					<div>
						<textarea
							ng-model="tip.newCommentText"
							placeholder="Type your comment and click Add! (Maximum 1000 characters, will be all joined in a single line)"
							rows="3"
							maxlength="1000"
						></textarea>
					</div>
					<div>
						<button class="btn btn-success btn-xs" ng-click="addComment(tip)"><span class="glyphicon glyphicon-plus"></span> Add</button>
					</div>
				</div>
			</div>
		</td>
	</tr>
	<tr ng-show="canAdd">
		<td colspan="2">
			<textarea
				 ng-model="tipText"
				 placeholder="Type your tip and then click Add! (Maximum 1000 characters, will be all joined into a single line)"
				 rows="4"
				 maxlength="1000"
			></textarea>
			<div>
				<button class="btn btn-success btn-xs hideMobile" ng-click="addTip()"><span class="glyphicon glyphicon-plus"></span> Add</button>
				<button class="btn btn-success btn-lg mobileOnly" ng-click="addTip()"><span class="glyphicon glyphicon-plus"></span> Add</button>
			</div>
		</td>
	</tr>
</table>
