<table class="table">
	<tr ng-repeat="tip in tips | filter: { type: type } | orderBy:voteTotal:true" ng-show="voteTotal(tip) > -10">
		<td>
			<strong>{{ voteTotal(tip) }}</strong>
			<div class="btn-group-vertical">
				<button class="btn btn-success btn-xs" ng-click="upvote(tip)"><span class="glyphicon glyphicon-chevron-up"></span></button>
				<button class="btn btn-danger btn-xs" ng-click="downvote(tip)"><span class="glyphicon glyphicon-chevron-down"></span></button>
			</div>
		</td>
		<td ng-class="{'possibleTroll': voteTotal(tip) < 0}">
			{{tip.details}}
		</td>
	</tr>
	<tr>
		<td>
			&nbsp;
		</td>
		<td>
			<textarea class="form-control" ng-model="tipText" placeholder="Type your tip and then click Add!" maxlength="1000"></textarea>
			<div><button class="btn btn-success btn-xs" ng-click="addTip()"><span class="glyphicon glyphicon-plus"></span> Add</button></div>
		</td>
	</tr>
</table>
